<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_CLIENT_ID</key>
	<string>806966291001-oqdbe0bq0la26ao89h4t4imqnci2f27e.apps.googleusercontent.com</string>
	<key>NAVER_CONSUMER_SECRET</key>
	<string>q9NIM1RykO</string>
	<key>NAVER_CONSUMER_KEY</key>
	<string>JYOXwPjau1XNGI6gnhpz</string>
</dict>
</plist>
